<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Show</title>

        <link rel="stylesheet" href="../assets/styles/index.css">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous" defer></script>
        <script type="text/javascript" src="../assets/js/show.js" defer></script>

    </head>
    <body>
        <div class="top__nav">
            <img src="../../layout/images/logo.svg" class="logo"/>
            <h4>Venha ser feliz no carnaval!</h4>
        </div>

        <div id="banner" class="banner__show">
                          
        </div>

        <div id="container" class="container__products">
            <h2>Outras fantasias que você vai gostar</h2>
        </div>

        <div class="bottom__info">
            <img src="../../layout/images/white-logo.svg">
            <h4>contato@carnastore.com</h4>
        </div>

        <div class="bottom__logos">
            <img src="../../layout/images/cards.svg" class="cards">
            <img src="../../layout/images/security-icon.svg" class="security_icon">
        </div>
        <!--Creates the popup body-->
        <div class="popup-overlay">
            <!--Creates the popup content-->
            <div class="popup-content">
                <img src="../../layout/images/confetti.svg">
                <h2>VIVA!</h2>
                <p> Adicionamos o item no seu carrinho!</p>
                <!--popup's close button-->
                <button class="continue__shopping">Continuar comprando</button> 
                <button class="go__cart">Ir para o carrinho</button> 
            </div>
        </div>
        <div class="bottom__page"></div>
    </body>
</html>